<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412706684654-c5gjdtunvrmjkf641m9tc173usnd37nt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412706684654-c5gjdtunvrmjkf641m9tc173usnd37nt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>412706684654-pmg6b349h13mjoh99rgtjg15130oqivd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBE2HGXeuSCNYj1wkStsBtnL7Lnr7nibEg</string>
	<key>GCM_SENDER_ID</key>
	<string>412706684654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.promptkalai</string>
	<key>PROJECT_ID</key>
	<string>notesapp-ed63a</string>
	<key>STORAGE_BUCKET</key>
	<string>notesapp-ed63a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412706684654:ios:46a72f8933f51848933dff</string>
</dict>
</plist>